* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    cursor: url('../images/cursor.png') 0 0, auto;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(to right, rgb(84, 150, 241), rgb(164, 254, 236), transparent)
}
h1 {
    font-family: Fascinate, Arial, Helvetica, sans-serif;
    color: midnightblue;
}
h2 {
    font-family: Bagel Fat One, Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}
.recipe-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 700px;
}
img {
    border-radius: 20px;
}
.home-link {
    margin-bottom: 30px;
    font-family: Bagel Fat One, Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(81, 140, 249);
    text-decoration: none;
    border: 5px solid cornflowerblue;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: url('../images/click.png') 0 0, auto;
}