body {
    cursor: url('../images/cursor.png') 0 0, auto;
}
body, html {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    /* background-image: linear-gradient(to bottom right, #ffff4d, #4dff4d, #66b3ff); */
    background-image: url(../images/css-pattern1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
        
}
.outer{  
    text-align: center;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
    border: 5px solid rgb(48, 125, 133);
    color: black;
    position: absolute;
    top: 70px;
    width: 450px;
    height: 570px;
    line-height: 36px;
    
}
a {
    color: rgb(48, 125, 133);
    cursor: url('../images/click.png') 0 0, auto;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.head {
    font-family: Fascinate,"Lucida Handwriting", Arial, Helvetica, sans-serif;
    color: midnightblue;
    font-size: 50px;
    margin-top: 40px;
}
.head.h2 {
    color: cornflowerblue;
    font-size: 25px;
    margin-bottom: 0;
}
div.list {
    text-align: center;
    font-size: large;
    font-family: Bagel Fat One, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: cornflowerblue;
    
}
ul {
    display: inline-block;
    text-align: left;
    list-style-type: circle;
    
}
.site {
    font-size: 25px;
    padding-top: 5px;
    color: midnightblue;
}
.site-link {
    color: rgb(57, 57, 151);
}