body, html {
    height: 100%;
    overflow: hidden;
}
.main {
    /* background-image: linear-gradient(to bottom right, #ffff4d, #4dff4d, #66b3ff); */
    background-image: url(css-pattern1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
        
}
.outer{  
    text-align: center;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
    color: black;
    position: absolute;
    top: 70px;
    left: 35%;
    width: 450px;
    height: 570px;
}
.head {
    font-family: "Lucida Handwriting", Arial, Helvetica, sans-serif;
    color: midnightblue;
    font-size: 50px;
    margin-top: 40px;
}
.head.h2 {
    color: cornflowerblue;
    font-size: 25px;
    margin-bottom: 0;
}
div.list {
    text-align: center;
    font-size: large;
    font-family: Papyrus, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: cornflowerblue;
}
ul {
    display: inline-block;
    text-align: left;
    list-style-type: circle;
}
